@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p {
    margin: 0;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
    width: 30%;
}

#search-wrapper input {
    width: 100%;
    padding: 0 1em;
}

#topbar-icons {
    display: flex;
}

.topbar-icons ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 2em;
    padding: 5.2px 0 0 0;
}

#search-btn {
    padding: 0 0.6em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.thumb-block {
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    height: auto;
}

